<article>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <h1>Your Cart</h1>
  <ul>
    <% @cart.line_items.each do |line_item| %>
      <li><%= line_item.product.title %></li>
      <li><%= line_item.quantity %></li>
      <li><%= button_to 'Remove from Cart', line_item,  method: :delete  %></li>
    <% end %>
  </ul>
  <p>Total price: <%= @cart.total_price %></p>
  <%= link_to 'Edit', edit_cart_path(@cart) %> |
  <%= link_to 'Back', carts_path %>
  <%= button_to 'Empty cart', @cart, method: :delete, data: {confirm: 'Are you sure?'} %>

</article>